{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="after alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <h2>Покупки:</h2>
            {% for purchase in purchases %}
                <h3><a href = {{ purchases.url }}>{{ purchases.title }}</a></h3>
                <p>{{ purchases.date.strftime('%d.%m.%Y') }}</p>
                <hr />
            {% endfor %}
        </div>
        <div class="col-4">

        </div>
    </div>
{% endblock %}